<header
  *ngIf="isAuthenticated"
  class="text-center p-2 lg:p-6 bg-blue-600 text-white text-3xl lg:text-5xl font-bold"
>
  <a [routerLink]="['']"> <span>Patrimonium</span></a>
</header>
<nav
  mat-tab-nav-bar
  [tabPanel]="tabPanel"
  class="mb-4 md:mb-6"
  *ngIf="isAuthenticated"
>
  <a
    mat-tab-link
    [routerLink]="['']"
    (click)="activeLink = 'Home'"
    [active]="activeLink == 'Home'"
    >Home</a
  >
  <a
    mat-tab-link
    [routerLink]="['/posts-feed']"
    (click)="activeLink = 'Feed'"
    [active]="activeLink == 'Feed'"
    >Feed</a
  >
  <a
    mat-tab-link
    [routerLink]="['']"
    (click)="logout()"
    [active]="activeLink == 'Logout'"
    ><button (click)="logout()">Logout</button></a
  >
</nav>
<mat-tab-nav-panel #tabPanel></mat-tab-nav-panel>
