<!--Search posts by title or body-->
<app-post-search (searchResults)="onSearchResults($event)"></app-post-search>

<!--Create new post-->
<div class="flex justify-center">
  <a
    mat-raised-button
    [routerLink]="['/post-creation']"
    routerLinkActive="active"
    aria-label="Create new post"
    ariaCurrentWhenActive="page"
    >Create new post</a
  >
</div>

<div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 drop-shadow-lg">
  <mat-card *ngFor="let post of posts" appearance="outlined" class="m-4">
    <mat-card-header class="bg-blue-600 text-white rounded-t-lg">
      <mat-card-title class="pb-3">
        {{ post.title }}
      </mat-card-title>
    </mat-card-header>
    <mat-divider></mat-divider>
    <mat-card-content>
      <p class="pt-2">{{ post.body }}</p>
      <mat-divider></mat-divider>
    </mat-card-content>
    <mat-card-actions>
      <!--Show comments button-->
      <button mat-button (click)="toggleComments(post.id)">Comments</button>
    </mat-card-actions>
    <mat-card-footer>
      <!--Only show comments when toggleComments is clicked and pass post id to comments component-->
      <app-comments
        *ngIf="showComments[post.id]"
        [postId]="post.id"
      ></app-comments>
    </mat-card-footer>
  </mat-card>
</div>

<app-paginator
  [totalItems]="totalPosts"
  [itemsPerPage]="pageSize"
  [currentPage]="currentPage"
  (pageChange)="onPageChange($event)"
></app-paginator>
