<app-login-form (submitEvent)="addUsers($event)"></app-login-form>

<app-user-search (searchResults)="onSearchResults($event)"></app-user-search>

<mat-accordion *ngIf="isAuthenticated">
  <mat-expansion-panel *ngFor="let user of users">
    <mat-expansion-panel-header>
      <mat-panel-title> Name: </mat-panel-title>
      <mat-panel-description> {{ user.name }} </mat-panel-description>
    </mat-expansion-panel-header>
    <ng-template matExpansionPanelContent>
      <p>Email: {{ user.email }}</p>
      <p>Gender: {{ user.gender }}</p>
      <p>Status: {{ user.status }}</p>
    </ng-template>
    <mat-action-row>
      <a
        [routerLink]="['/user-posts', user.id]"
        routerLinkActive="active"
        ariaCurrentWhenActive="page"
        >See user posts</a
      >
      <button (click)="deleteUser(user.id)">Delete user</button>
    </mat-action-row>
  </mat-expansion-panel>
</mat-accordion>

<a
  [routerLink]="['/user-creation']"
  routerLinkActive="active"
  ariaCurrentWhenActive="page"
>
  Create new user
</a>

<div *ngIf="!isAuthenticated">
  <p>Non sei autenticato</p>
</div>
