<mat-list *ngIf="comments.length > 0; else noComments">
  <mat-list-item *ngFor="let comment of comments">
    <span matListItemTitle>{{ comment.name }}</span>
    <span matListItemLine class="pb-1">{{ comment.body }}</span>
    <hr />
  </mat-list-item>
</mat-list>

<ng-template #noComments>
  <span class="pb-1 ml-2">No comments yet.</span>
  <hr class="mb-4" />
</ng-template>

<!-- New comment form-->
<form
  #commentForm="ngForm"
  (ngSubmit)="onSubmitComment(commentForm)"
  class="grid grid-cols-2 m-1 gap-1"
>
  <mat-form-field appearance="outline">
    <mat-label>Name</mat-label>
    <input
      matInput
      type="text"
      name="name"
      [(ngModel)]="newComment.name"
      required
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Email</mat-label>
    <input
      matInput
      type="email"
      name="email"
      [(ngModel)]="newComment.email"
      required
    />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Comment</mat-label>
    <input matInput name="body" [(ngModel)]="newComment.body" required />
  </mat-form-field>

  <button
    mat-raised-button
    type="submit"
    [disabled]="commentForm.invalid"
    class="mt-1.5"
  >
    Post Comment
  </button>
</form>
